<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.g4m.mapper.VideoMapper">
    <select id="getAvilableList" resultType="Video">
        SELECT * FROM `video` where `status`=0 ORDER BY `play_times` LIMIT 5
    </select>
    <select id="updateCount" resultType="Integer">
        UPDATE video SET play_times = play_times + 1 WHERE id = #{id}
    </select>
</mapper>